* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Arial", "sans-serif";
    position: relative;
    background: #fff;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #2d8cf0;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 15px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background:rgba(0,0,0,0.15);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.1);
}
