html, body {
    width: 100%;
    font-size: 14px;
    font-family: "sans-serif";
    box-sizing: border-box; 
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #2d8cf0;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 15px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background:rgba(0,0,0,0.15);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.1);
}